<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Site Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
    <meta name="keywords" content="HTML, World Wide Web, WWW, Web Design, Web Development">
    <meta name="description" content="Learning HTML to build your website, fanzine, or personal site.">
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
    <link rel="icon" href="favicon.ico" sizes="any">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <header>
      <img src="/logo.svg" height="160" width="200" alt="Your Site Name" />
      <nav>
        <a href="/page1/">Page 1</a>
        <a href="/page2/">Page 2</a>
      </nav>
    </header>
    <main>
      <article>
        <header>
          <h1>Your Site Title</h1>
        </header>
        <section>
          <p>Your site content.</p>
        </section>
      </article>
    </main>
    <footer>
      <nav>
        <a href="/about/">About</a>
        <a href="/faqs/">FAQs</a>
        <a href="/contact/">Contact</a>
        <a href="/announcements/">Announcements</a>
        <a href="/links/">Links</a>
      </nav>
      <p>&copy;2022 You</p>
    </footer>
  </body>
</html>
